
      h1{

        font-size: 65px;
        color: orange;
        font-family: sans-serif;
        font-style: italic;

    }

    ul{

        background-color: blanchedalmond;

    }

    .pul {

        background-color: aquamarine;
        text-align: center;
        line-height: 50px;
    }

    p {
        font-weight:600;
        font-size: 3em;
    }

    body {

        font-size: 16px;
        text-decoration: underline;
    }

    #ylw {

      color: yellow;

    }

    #rd {

      color: red;

    }

    #brw {

      color: brown

    }


