* {

  font-family: 'Lucida Sans', sans-serif;
  color: antiquewhite;

}

header {

  background-color: azure;

}

body{

  background-image: url(https://www.teahub.io/photos/full/309-3094279_deep-ocean-wallpaper-4k.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}
h1, h2, h3 {

  font-size: 2em;
  background-color: black;
  text-align: center;

}

section {

  text-align: justify;
  font-size: larger;

}

img {

  width: 400px;
  float: left;
  padding: 5px;
  background-color: white;
  margin: 15px 15px;
}

.tabela {

  justify-content: center;

}


table {

  width: 250px;
  justify-content: center;
  margin: auto;
}

tr {

  width: auto;
  text-align: center;
  padding: 10px;


}

td {

  background-color: gray;
  border: solid 1px black;
  padding: 10px;


}

footer {
  text-align: center;
  background-color: black;
  padding: 30px;
}
footer font {

  font-size: 20px;
}

aside {

  text-align: center;

}